[submodule "lib/CMSIS"]
	path = lib/CMSIS
	url = https://github.com/ARM-software/CMSIS_5.git
	branch = develop
[submodule "lib/cmsis_device_f4"]
	path = lib/cmsis_device_f4
	url = https://github.com/STMicroelectronics/cmsis_device_f4
[submodule "lib/cmsis-device-g4"]
	path = lib/cmsis-device-g4
	url = https://github.com/STMicroelectronics/cmsis-device-g4.git
